<div class="row">
    <div class="col-12">
        @using (Html.BeginForm("Exercicio8Result", "Home", FormMethod.Post, new { id = "formCadastrar" }))
        {
            <br />
            @Html.AntiForgeryToken()
            <div class="card rounded-0 border-0 shadow p-4">
                <hr class="mb-1" />
                @if (TempData["msgSuccess"] != null)
                {
                    <div id="mensagem" class="alert alert-success rounded-0"><i class="fas fa-check-circle mr-1"></i>@TempData["msgSuccess"]</div>
                }
                @if (TempData["msgFalha"] != null)
                {
                    <div id="mensagem" class="alert alert-danger rounded-0"><i class="fas fa-times-circle mb-0 mr-1"></i>@TempData["msgFalha"]</div>
                }
                <!-- ------------------------------------------------------------------------------------------- -->
            <div class="form-group px-5">

                <div class="card rounded-0 border-0 shadow p-4">
                    <div class="col">
                        <label for="cnpj">Diagrama de dados:</label>
                        <br />
                        <img src="~/File/Diagrama.png" alt="Kaffa" title="Diagrama SQL" class="size-imageDiagrama" />
                    </div>
                </div>
                <br />
                <div class="card rounded-0 border-0 shadow p-4">
                    <div class="col">
                        <label for="cnpj">Código SQL:</label>
                        <br />
                        <img src="~/File/SQL.png" alt="Kaffa" title="Código SQL" class="size-imageSQL" />
                    </div>
                </div>
                <br />
            </div><!-- /.form-group -->
                <!-- ------------------------------------------------------------------------------------------- -->

            </div>
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {



        });
    </script>
}
