@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kaffa - Pre-qualification test (v1.5)</h1>
    <p class="lead">Felipe Henrique de Oliveira</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Objective</h2>
        <p>
            Complete at least 2 of the exercises below.
            Important:
            provide a README.md with instructions on how to build and run your code;
            provide screenshots / gifs / videos showing your applications running;
            it’s NOT necessary to complete all exercises, but completing more exercises, or choosing the harder
            ones, is a plus;
            you will be compared to other candidates, so make sure to show your skills. Feel free to do more
            than asked;
            complete the tasks yourself without help and without copying and pasting code from the internet.
            Don’t submit code you don’t understand, you’ll be asked in the interview about your solution.

        </p>
    </div>
    <div class="col-md-4">
        <h2>Instructions</h2>
        <p>
            Choose any programming language, library, tool or framework, as long it’s open source and freely
            available;
            Don’t use libraries or any third-party code to solve the core of the exercise;
            It’s ok to use libraries for UI, persistence, Web, JSON parsers, and anything not directly related to the
            given task;
            Every exercise must be done in a ready to execute format, so that is possible to build, run and see
            actual results;
            You can develop the code of the exercises in any form or platform (Desktop App, Web, Android, iOS,
            command line);
            You can merge multiple exercises in one single application/executable, as long as it’s easy to
            identify the individual exercises;
            You can write your comments and documentation in portuguese (writing in english is a plus);
            Submit the results as a Github repository, created for this exam. If you prefer to keep the repository
            private, please share it with kaffa­recruitment Github user.
            Use the same repository for all the exercises;
            You can ask any question by email (in portuguese or english).
        </p>
    </div>
    <div class="col-md-4">
        <h2>Evaluation criteria</h2>
        <p>
            Correctness of the solution
            Presentation of the content
            Code organization
            Techniques and practices
            Complexity of the exercises
            Time to completion
        </p>
    </div>
</div>